.navbar-container {
    background-color: #333; 
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-container {
    display: flex;
    align-items: center;
}

.brand-container img {
    height: 60px; 
    margin-right: 5px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    
}

.nav-links li {
    text-decoration:underline;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family:cursive;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.nav-links a:hover {
    color: rgb(216, 112, 193); /* Set your desired hover color */
}