.navbar-container {
    /* background-color: #333;  */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-container {
    display: flex;
    align-items: center;
}

.brand-container img {
    height: 100px; 
    margin-right: 5px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    
}

.nav-links li {
    text-decoration:none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family:cursive;
    transition: color 0.3s ease; 
}

.nav-links a:hover {
    color: rgb(100, 230, 14); 
}