body, html {
    height: 100%;
    margin: 0;
    /* background-color: gray; */
}

/* .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
  } */
/* footer {
    margin-top: auto;
} */
/* 
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    margin-top: auto;
    background-color: #333;
    color: #fff;
    padding: 20px;
}; */
